/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-nov-2017, 9:23:13
    Author     : a053881694p
*/

.prod-panel {
    padding: 20px;
    display: inline-block;
    width: 18%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1%;
}

.thumb img {
    width: 100%;
    margin: 0 auto;
    border: 6px solid #ddd;
    margin-bottom: 10px;
}

.ref {
    font-size: 11px;
}

.precio {
    display: inline-block;
    margin-right: 15px;
}

.cantidad {
    width: 25%;
    display: inline-block;
}

.anyadir {
    display: inline-block;
}

.compra {
    text-align: right;
    margin-top: 20px;
}